{% extends "base.html" %}
{% block title %}course ingestion{% endblock %}
{% block content %}
    <input id="course_title" placeholder="course title">
    <input id="files"  type="file" multiple>
    <button onclick="uploadcourse()" >upload course</button>

    <h3>your courses:</h3>
    <ul id="course_list" ></ul>
    
{% endblock %}
{% block scripts %}
    <script>

        async function uploadcourse(){
            const formdata= new FormData()
            formdata.append("course_title",document.getElementById("course_title").value)

            const files=document.getElementById("files").files;
            for(let i =0;i<files.length;i++){
                formdata.append("files",files[i]);
            }
            const response= await fetch("/ingest",{
                method:"POST",
            body:formdata
            });
            const data=await response.json()
            document.getElementById("course_list").innerHTML+= "<li>Created: "+document.getElementById("course_title").value+"(ID:"+data.course_id+")</li>";

            document.getElementById("course_title").value="";
            document.getElementById("files").value="";
            
        };

            window.onload=async function(){
                const response=await fetch("/professor_courses")
                const data= await response.json();
                for(const course of data.courses){
                    document.getElementById("course_list").innerHTML+= "<li>"+course.title+"(ID:"+course.course_id+ ")</li>"

                }
            };
        
    </script>
{% endblock %}