{% extends "base.html" %}
{% block title %}log in{% endblock %}
{% block content %}
    <input type="email" placeholder="email" id="email">
    <input type="password" placeholder="password" id="password">
    <button onclick="loginprof()" > log in</button>
    <p>dont have an account? <a href="/prof_signup_render"> sign up here</a></p> 
    <div id="results" ></div>
{% endblock %}
{% block scripts %}
    <script>
        async function loginprof() {
            let response;
            try{
                response= await fetch("/professor_login",{
                method:"POST",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({
                    email:document.getElementById("email").value,
                    password:document.getElementById("password").value
                })
            })
            }
            
            catch(e){
                document.getElementById("results").innerHTML="Connection problem,please try again"
                return;
            }
            const data= await response.json()
            if(response.status === 200 || data.redirect){
                window.location.href=data.redirect
            }
            else{
                document.getElementById("results").innerHTML= data.error;
            }
        }
    </script>
{% endblock %}