{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <input id="name" placeholder="Name">
    <input id="name" type="email" placeholder="email">
    <input id="name" type="password" placeholder="password">
    <input id="api_key" placeholder="api key">
    <input id="model" placeholder="model">
    <button onclick="submitProfessor()" >Sign up</button>
    <p> already have an account?</p> <a href="/professor_login_render">Log in</a>
    <div id="results" ></div>
    
{% endblock %}

{% block scripts %}
        <script>

            async function submitProfessor(){
                let response;
                try{
                    response =await fetch("/professor_signup",{
                    method:"POST",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({
                        name:document.getElementById("name").value,
                        email:document.getElementById("email").value,
                        password:document.getElementById("password").value,
                        api_key:document.getElementById("api_key").value,
                        model:document.getElementById("model").value
                    })
                });
                }
                catch(e){
                    document.getElementById("results").innerHTML="Connection problem,please try again"
                    return;
                }
                
                const data=await response.json();
                if(response.status===200 || data.redirect){
                    window.location.href=data.redirect
                }
                else{
                    document.getElementById("results").innerHTML= data.error;
                }
            }
        </script>
{% endblock %}
