{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <input id="name" placeholder="Name">
    <input id="api_key" placeholder="api key">
    <input id="model" placeholder="model">
    <button onclick="submitProfessor()" >Sign up</button>
    <div id="results" ></div>
    
{% endblock %}

{% block scripts %}
        <script>
            function copylink(){
                navigator.clipboard.writeText(document.getElementById("linkbox").value)
            }

            async function submitProfessor(){
                const response =await fetch("/professor",{
                    method:"POST",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({
                        name:document.getElementById("name").value,
                        api_key:document.getElementById("api_key").value,
                        model:document.getElementById("model").value
                    })
                });
                const data=await response.json();
                localStorage.setItem("prof_id", data.professor_id);
                localStorage.setItem("share_token", data.share_token); 
                let prof_id=data.professor_id;
                const link="http://myapp.com/tutor/" + data.share_token;
                document.getElementById("results").innerHTML="Your link : <input id='linkbox' value='"+ link +"' readonly>"  +"<button onclick='copylink()'> Copy </button>";
            }
        </script>
{% endblock %}
